:root {
  /* Base Colors */
  --black: #000000;
  --white: #ffffff;
  --gray100: #f7fafc;
  --gray200: #edf2f7;
  --gray300: #e2e8f0;
  --gray400: #cbd5e0;
  --gray500: #a0aec0;
  --gray600: #718096;
  --gray700: #4a5568;
  --gray800: #2d3748;
  --gray900: #1a202c;
  --pink100: #fff5f7;
  --pink200: #fed7e2;
  --pink300: #fbb6ce;
  --pink400: #f687b3;
  --pink500: #ed64a6;
  --pink600: #d53f8c;
  --pink700: #b83280;
  --pink800: #97266d;
  --pink900: #702459;

  /* Fonts */
  --body-font: "Roboto", sans-serif;
  --heading-font: "Oswald", sans-serif;

  /* Base Theme */
  --accent: var(--pink700);
  --accent-hover: var(--pink500);
  --accent-bg: var(--pink700);
  --text: var(--gray900);
  --text-light: var(--gray700);
  --text-inverted: var(--white);
  --bg: var(--gray200);
  --bg-light: var(--white);
}
/* Dark Theme */
@media (prefers-color-scheme: dark) {
  :root {
    --accent: var(--pink600);
    --bg: var(--gray900);
    --bg-light: var(--gray800);
    --text: var(--gray400);
    --text-light: var(--gray200);
    --text-inverted: var(--gray100);
    --accent-bg: var(--gray800);
    --image-filter: grayscale(50%);
  }

  img:not([src*=".svg"]) {
    /* filter: var(--image-filter); */
  }
}
