:root {
  /* Base Colors */
  --black: #000000;
  --white: #ffffff;
  --gray100: #f7fafc;
  --gray200: #edf2f7;
  --gray300: #e2e8f0;
  --gray400: #cbd5e0;
  --gray500: #a0aec0;
  --gray600: #718096;
  --gray700: #4a5568;
  --gray800: #2d3748;
  --gray900: #1a202c;
  --pink100: #fff5f7;
  --pink200: #fed7e2;
  --pink300: #fbb6ce;
  --pink400: #f687b3;
  --pink500: #ed64a6;
  --pink600: #d53f8c;
  --pink700: #b83280;
  --pink800: #97266d;
  --pink900: #702459;
  --teal100: #E6FFFA;
  --teal200: #B2F5EA;
  --teal300: #81E6D9;
  --teal400: #4FD1C5;
  --teal500: #38B2AC;
  --teal600: #319795;
  --teal700: #2C7A7B;
  --teal800: #285E61;
  --teal900: #234E52;
  --green100: #F0FFF4;
  --green200: #C6F6D5;
  --green300: #9AE6B4;
  --green400: #68D391;
  --green500: #48BB78;
  --green600: #38A169;
  --green700: #2F855A;
  --green800: #276749;
  --green900: #22543D;
  --orange600: #DD6B20;
  --red600: #E53E3E;

  /* Fonts */
  --body-font: "Roboto", sans-serif;
  --heading-font: "Oswald", sans-serif;

  /* Base Theme */
  --accent: var(--teal600);
  --accent-hover: var(--teal500);
  --accent-bg: var(--pink700);
  --text: var(--gray900);
  --text-light: var(--gray700);
  --text-inverted: var(--white);
  --bg: var(--gray200);
  --bg-light: var(--white);
  --border-light: var(--gray400);
}
/* Dark Theme */
@media (prefers-color-scheme: dark) {
  :root {
    --accent: var(--teal400);
    --accent-hover: var(--teal300);
    --bg: #131313;
    --bg-light: #222;
    --text: #EEE;
    --text-light: var(--gray200);
    --text-inverted: #FFFFFF;
    --accent-bg: #000000;
    --image-filter: grayscale(50%);
    --border-light: var(--gray800);
  }

  img:not([src*=".svg"]) {
    /* filter: var(--image-filter); */
  }
}
